<% include partials/header.ejs %>
<!-- /header -->

<!-- Static navbar -->

<div class="artist-background">
<div class="card profile-card-orientation">
    <img src="/images/photographer.jpg" alt="Bobby" style="width:100%">

    <h4>
        <% if (user) {  %>
        <%= user.firstname %>
        <%= user.lastname %>
        <% } %>
    </h4>

    <p class="title">
        <% if (user) {  %>
        <%= user.profession %>
        <% } %>
    </p>

    <p>
        <% if (user) {  %>
        <%= user.city %>,
        <%= user.provinceState %>,
        <%= user.country %>
        <% } %>
    </p>

    <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble social-media-icons"></i></a>
        <a href="#"><i class="fa fa-twitter social-media-icons"></i></a>
        <a href="#"><i class="fa fa-linkedin social-media-icons"></i></a>
        <a href="#"><i class="fa fa-facebook social-media-icons"></i></a>
    </div>
    <button class="profile-button accordion">Contact</button>

    <div class="panel">
        <p>
            <% if (user) {  %>
            <%= user.username %>
            <% } %>
        </p>
    </div>

    <button class="profile-button accordion">About Artist</button>
    <div class="panel">
        <p>about artist description placeholder</p>
    </div>
    <button class="profile-button">Purchase</button>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>

<div align="center">
    <h2 class="gallery-header">Gallery</h2>
    <div class="galleria">
        <img src="/images/brushstroke.jpg" data-title="My title" data-description="My description">
        <img src="/images/brushstroke.jpg">
        <img src="/images/brushstroke.jpg">
        <img src="/images/brushstroke.jpg">
    </div>
</div>
<script>
    (function () {
        Galleria.loadTheme('javascripts/galleria/themes/classic/galleria.classic.min.js');
        Galleria.run('.galleria', {

            // configure
            autoplay: true,
            lightbox: true,
            idleMode: true,

            // extend theme
            extend: function () {
                var gallery = this; // "this" is the gallery instance

                //fullscreen button
                this.addElement('fscr');
                this.appendChild('stage', 'fscr');
                var fscr = this.$('fscr').click(function () {
                    gallery.toggleFullscreen();
                });

                // this.addIdleState(this.get('fscr'), { opacity:0 });
            }
        });
    }());
</script>
</div>

<!-- footer -->
<% include partials/footer.ejs %>
