<% include partials/header.ejs %>

<main class="container">
    <h1><%= storeName %></h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/items/add" title="Add Item"><i class="fa fa-plus-circle"></i> Add a new Item</a>
        </div> <!-- panel-heading -->
        <div class="row">
            <% if (items.length > 0) { %>
            <% for (var i = 0; i < items.length; i++) { %>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#"><%= items[i].itemName %></a>
                        </h4>
                        <h5>$<%= items[i].price %></h5>
                        <p class="card-text"><%= items[i].itemDesc %></p>
                        <p class="card-text">Stock : <%= items[i].quantity %></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">★ ★ ★ ★ ☆</small>
                    </div>
                    <a href="/items/<%= items[i]._id %>" title="Edit" class="btn btn-primary">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a href="/items/delete/<%= items[i]._id %>" title="Delete" onclick="return confirm('Are you sure you want to delete this?');" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </div>
            <% } %>

            <% } %>
        </div>

</main>

<!-- Footer -->
<% include partials/footer.ejs %>
